@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary : #0072FA;
  --fade : rgba(0, 114, 250, 0.09);
  --dark : #1C163C;
  --border : #E2E4E5;
  --txt : #302f2f;

  --shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

img{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
}


.app{
  font-family: 'Inter', sans-serif;
  padding-top: 20px;
  width: 100%;
  /* height: 100vh; */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:transparent;
  overflow: hidden;
  overflow-y: auto;

  img{
    image-rendering: -webkit-optimize-contrast;
  }
}

/*================= Global style =================*/
.tab-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 10px;
  gap: 20px;
}

.i-box {
  width: 100%;
  max-width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #e2e4e5;
  padding: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.input-box{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--txt);
}

input::placeholder {
  color: var(--txt);
}

.toggle-box {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--txt);
}

/*========== toggle switch =============*/
/* The switch - the box around the slider */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5bd84;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--fade);
  border: 1px solid var(--primary);
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: var(--primary);
}

.create-btn{
    padding: 18px 30px;
    border: none;
    font-size: 16px;
    border-radius: 40px;
    background: var(--primary);
    color: #FFF;
    cursor: pointer;
}

/*==== popup ======*/
#credential_picker_container{
  position: absolute;
  margin-top: 40px;
}



/*loader div*/
.loader{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*==================== page not found ===============*/
.pagenotfound{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-img{
  height: 400px;
}

.not-found-h1{
  font-weight: 500;
  font-size: 20px;
}
.not-found-h2{
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}

.back-btn{
  padding: 20px 20px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}

.pricing-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;

  img{
    width: 100%;
  }
}

@media(max-width:720px){
  .navlinks{
      display: none;
  }
  .app{
    padding-top: 20px;
  }
}

@media(max-width:420px){
  .navlinks{
      display: none;
  }
  .app{
    padding-top: 20px;
  }
  .error-img{
    margin-top: 20px;
    width: 340px;
    height: 320px;
  }
}


/*coming soon text*/
.coming-txt{
  padding: 20px;
  padding-top: 40px;
  background: linear-gradient(
        to right,
        #7953cd 20%,
        #593cc2 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: 500;
    letter-spacing: 0.02rem;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/*commom icon style*/
.purpule-icon{
  color: var(--primary);
}